data/
.ipynb_checkpoints
.bin
*.db
output/
prefect-examples/

*.parquet
*.html
*.csv
*.DS_Store

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*